
body {
    font-family: 'Epilogue', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

ul.menu {
    background: #0026ff;
    height: 50px;
}

    ul.menu > li {
        float: left;
        position: relative;
    }

        ul.menu > li > a {
            display: block;
            font-size: 14px;
            color: white;
            padding: 0px 15px;
            line-height: 50px;
            border-right: 1px solid rgba(0,0,0,.1);
        }

    ul.menu ul {
        background: #0026ff;
        width: 200px;
        position: absolute;
        top: 30px;
        left: 0px;
        opacity: 0;
        transition: 250ms all;
        visibility: hidden;
    }
        ul.menu ul li {
            position: relative;
            
        }

        ul.menu ul li a {
            display: block;
            padding: 7px 12px;
            color: white;
            font-size: 14px;
        }

    ul.menu >li ul ul {
        top: 0;
        left:180px;
        
    }

    ul.menu > li:hover > ul {
        opacity: 1;
        visibility: visible;
        top: 50px;
        
    }
    ul.menu ul li:hover >ul {
        opacity: 1;
        visibility: visible;
        left:200px;
        
    }